@font-face {
    font-family: 'arcadeclassicregular';
    src: url("fonts/arcadeclassic/ARCADECLASSIC.TTF");
    font-weight: normal;
    font-style: normal;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "arcadeclassicregular", sans-serif;
  word-spacing: 5px;
}

body{
  background-color: black;
}

header {
  display: flex;
}

button {
  text-align: center;
  padding: 20px;
  background-color: rgba(170, 51, 17, .7);
  display: inline-block;
  min-width: 250px;
  min-height: 100px;;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 10px;
}

p {
  padding: 10px;
  background-color: white;
  width: 60%;
  margin: 0 auto;
}

.buttons {
  text-align: center;
  padding: 20px;

}


#startButton {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: center;
  min-width: 250px;
  min-height: 100px;
  margin-top: 50px;
}

#main {
  /* display: none; */
  margin: 0 auto;
  text-align: center;
}

.stats {
    border: 2px solid black;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
    background-color: white;
    margin-top: 10px;
}

#playerStats {
  display: flex;
  justify-content: center;
  padding: 10px;
}

span {
  margin: 0 10px;
}

#grantStats {
  display: flex;
  justify-content: center;
  padding: 10px;

}

.displayNone {
  display: none;
}

progress {
  background-color: green;
}

audio {
  background-color: black;
  margin-top: 100px;
}

#muteButton {
  background-color: white;
}
